@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    background-color: #13131a;
}

/* ----- CABEÇALHO ----- */

header {
    border-bottom: 1px solid rgb(58, 58, 58);
    background-color: #08080a;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100px;
}

.logo {
    width: 300px;
    height: 100px;
    float: left;
    margin-left: 30px;
}

.logo img {
    padding-top: 30px;
    width: 230px;
    height: 40%;
}

.navbar {
    position: absolute;
    right: 0;
    width: 350px;
    height: 100px;
}

.navbar ul {
    list-style-type: none;
    text-align: center;
    margin-top: 30px;
}

.navbar ul li {
    display: inline;
    font-size: 30px;
    padding: 3px;
}

.navbar ul li button {
    border: 1px solid grey;
    border-radius: 5px;
    color: rgb(192, 192, 192);
    background-color: transparent;
    width: 40px;
    height: 40px;
    transition: background-color 200ms;
}

.navbar ul li button:hover {
    background-color:rgb(53, 53, 53);
    cursor: pointer;
}


/* ----- CORPO INDEX ----- */

.banner {
    display: flex;
    max-width: 90%;
    height: auto;
    margin: 40px auto;
    padding: 0 10px;
    gap: 10px;
}

.banner img {
    width: 50%;
    height: auto;
    margin: auto;
    object-fit: cover;
    border-radius: 20px;
}


/* ----- CORPO SOBRE ----- */

.sobre {
    background-color: black;
    margin: auto;
    width: 80%;
    height: 400px;
    display: flex;
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
}

.sobre .abt-bbl {
    font-family: poppins, arial, sans-serif;
    border-radius: 20px;
    text-align: center;
    width: 30%;
    height: 350px;
    margin: auto;
    font-size: larger;
    padding: 10px;
    background: linear-gradient(45deg, rgb(99, 0, 0), #2B1FD3);
    background-size: 300% 100%;
    background-position: left;
    transition: background-position 0.5s ease;
}

.abt-bbl ul li {
    list-style: none;
}

.abt-bbl p {
    margin: auto;
    width: 350px;
}

.abt-bbl:hover {
    background-position: right;
}